- extends 'base.haml'
- load url from future
- load i18n

- block sidebar
  - include 'account/profile/sidebar.haml'

- block main

  %form.form-horizontal{'method':'POST', 'action':"{% url 'change_password' %}"}
    %legend
      {% trans 'login' %}
    - csrf_token
    - for field in form
      .control-group
        %label.control-label
          = field.label
        .controls
          = field
          %p.help-block
            = field.help_text
    .control-group
      .controls
        %button.btn{'type':'submit'}
          {% trans 'login' %}

